In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
movies = pd.DataFrame([["endgame",1],["infinitywar",2],["saving private ryan",3],["dunkirk",4]],columns=["Movies","movieid"])

In [4]:
movies

                Movies  movieid
0              endgame        1
1          infinitywar        2
2  saving private ryan        3
3              dunkirk        4

In [5]:
userrating = pd.DataFrame([
    [1,1,5],[1,3,1],
    [2,1,5],[2,3,1],
    [3,1,1],[3,3,5],
    [4,1,1,],[4,3,5]
],columns=["userid","movieid","rating"])

In [6]:
userrating

   userid  movieid  rating
0       1        1       5
1       1        3       1
2       2        1       5
3       2        3       1
4       3        1       1
5       3        3       5
6       4        1       1
7       4        3       5

In [7]:
pd.merge(userrating,movies)

   userid  movieid  rating               Movies
0       1        1       5              endgame
1       2        1       5              endgame
2       3        1       1              endgame
3       4        1       1              endgame
4       1        3       1  saving private ryan
5       2        3       1  saving private ryan
6       3        3       5  saving private ryan
7       4        3       5  saving private ryan